Assets/Avatars/Kids/human_boy_idle.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Avatars/Kids/human_girl_idle.fbx filter=lfs diff=lfs merge=lfs -text
Assets/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4/Textures/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4_Inte_Spe.tga filter=lfs diff=lfs merge=lfs -text
Assets/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4/Textures/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4_Map.tga filter=lfs diff=lfs merge=lfs -text
Assets/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4/Textures/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4_Map2.tga filter=lfs diff=lfs merge=lfs -text
Assets/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4/Textures/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4_nor.tga filter=lfs diff=lfs merge=lfs -text
Assets/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4/Textures/City[[:space:]]Bus[[:space:]]with[[:space:]]Interior[[:space:]]4_spe.tga filter=lfs diff=lfs merge=lfs -text
Assets/Housing/Textures/apartments3.png filter=lfs diff=lfs merge=lfs -text
Assets/Housing/Textures/house14.png filter=lfs diff=lfs merge=lfs -text
Assets/LowpolyStreetPack/Meshes/Textures/atlas.tga filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Audio/taxi[[:space:]]driver[[:space:]]audio.wav filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/Stadt/MeshKit/Backup[[:space:]]Scene/Stadt_MeshKitBackup.unity filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/Stadt.unity filter=lfs diff=lfs merge=lfs -text
Assets/TownPack_1_6/Models/Building/Textures/TownStreets.png filter=lfs diff=lfs merge=lfs -text
Assets/TownPack_1_6/Models/Street_Single/Texture/TownStreets.png filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Linux64/Data/level1 filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Linux64/Data/resources.assets filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Linux64/Data/resources.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Linux64/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Linux64/Data/sharedassets1.assets filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Linux64/Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/level1 filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/resources.assets filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/resources.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/sharedassets1.assets filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Win64/Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
